n8n-workflows/11-enrich-memories.json
{
  "name": "Enrich Memories",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger - 3 AM Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.id, m.content, m.salience_score, m.access_count, m.created_at\nFROM memories m\nWHERE m.user_id = '00000000-0000-0000-0000-000000000001'\n  AND m.is_archived = FALSE\n  AND m.access_count >= 3\n  AND NOT EXISTS (\n    SELECT 1 FROM memory_enrichments me\n    WHERE me.memory_id = m.id AND me.enrichment_type = 'summary'\n  )\nORDER BY m.access_count DESC, m.salience_score DESC\nLIMIT 20;",
        "additionalFields": {}
      },
      "id": "postgres-query",
      "name": "PostgreSQL - Get Memories to Enrich",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.id }}",
              "operation": "exists"
            }
          ]
        }
      },
      "id": "if-has-memories",
      "name": "IF - Has Memories",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Find related memories\nSELECT m2.id, m2.content\nFROM memories m1\nJOIN memory_links ml ON (ml.source_memory_id = m1.id OR ml.target_memory_id = m1.id)\nJOIN memories m2 ON (m2.id = ml.source_memory_id OR m2.id = ml.target_memory_id)\nWHERE m1.id = '{{ $json.id }}'\n  AND m2.id != '{{ $json.id }}'\n  AND m2.is_archived = FALSE\nLIMIT 5;",
        "additionalFields": {}
      },
      "id": "postgres-related",
      "name": "PostgreSQL - Get Related Memories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://ollama-ai-stack:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2:3b"
            },
            {
              "name": "prompt",
              "value": "=Analyze this memory and extract key entities, topics, and insights:\n\nMemory: {{ $item(1).json.content }}\n\nProvide:\n1. Key entities (people, places, things)\n2. Main topics/themes\n3. Brief insight or pattern\n\nFormat as JSON: {\"entities\": [], \"topics\": [], \"insight\": \"\"}"
            },
            {
              "name": "stream",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "ollama-analyze",
      "name": "Ollama - Analyze Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parse enrichment from LLM response\nlet enrichment = {};\ntry {\n  const response = $json.response;\n  // Try to extract JSON from response\n  const jsonMatch = response.match(/\\{[^}]+\\}/);\n  if (jsonMatch) {\n    enrichment = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  enrichment = {\n    entities: [],\n    topics: [],\n    insight: \"Failed to parse enrichment\"\n  };\n}\n\nreturn {\n  memory_id: $input.item(1).json.id,\n  enrichment: enrichment\n};"
      },
      "id": "code-parse",
      "name": "Code - Parse Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memory_enrichments (memory_id, enrichment_type, enrichment_data)\nVALUES ('{{ $json.memory_id }}', 'summary', '{{ JSON.stringify($json.enrichment) }}'::jsonb);\n\n-- Update memory with enrichment metadata\nUPDATE memories\nSET metadata = COALESCE(metadata, '{}'::jsonb) || '{\"enriched\": true}'::jsonb,\n    updated_at = NOW()\nWHERE id = '{{ $json.memory_id }}';",
        "additionalFields": {}
      },
      "id": "postgres-store",
      "name": "PostgreSQL - Store Enrichment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1450, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger - 3 AM Daily": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Memories to Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Memories to Enrich": {
      "main": [
        [
          {
            "node": "IF - Has Memories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Memories": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Related Memories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Related Memories": {
      "main": [
        [
          {
            "node": "Ollama - Analyze Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Analyze Memory": {
      "main": [
        [
          {
            "node": "Code - Parse Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Enrichment": {
      "main": [
        [
          {
            "node": "PostgreSQL - Store Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ai-stack"
  },
  "tags": []
}
