n8n-workflows/13-todoist-sync.json
{
  "name": "Todoist Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger - Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "getAll",
        "returnAll": true,
        "filters": {}
      },
      "id": "todoist-get-tasks",
      "name": "Todoist - Get All Tasks",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "todoistApi": {
          "id": "todoist-credentials",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.id }}",
              "operation": "exists"
            }
          ]
        }
      },
      "id": "if-has-tasks",
      "name": "IF - Has Tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "tasks",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "00000000-0000-0000-0000-000000000001",
            "title": "={{ $json.content }}",
            "description": "={{ $json.description || null }}",
            "status": "={{ $json.is_completed ? 'done' : 'todo' }}",
            "priority": "={{ $json.priority > 3 ? 'high' : ($json.priority > 2 ? 'medium' : 'low') }}",
            "due_date": "={{ $json.due ? $json.due.date : null }}",
            "external_service": "todoist",
            "external_id": "={{ $json.id }}",
            "updated_at": "={{ $now }}"
          }
        },
        "options": {
          "returnFields": "id"
        }
      },
      "id": "postgres-upsert",
      "name": "PostgreSQL - Upsert Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Find local tasks that need to be synced to Todoist\nSELECT id, title, description, status, priority, due_date, external_id\nFROM tasks\nWHERE user_id = '00000000-0000-0000-0000-000000000001'\n  AND (external_service IS NULL OR external_service = 'todoist')\n  AND updated_at > (SELECT COALESCE(MAX(last_synced_at), '1970-01-01') FROM sync_log WHERE service = 'todoist')\n  AND external_id IS NULL;",
        "additionalFields": {}
      },
      "id": "postgres-get-local",
      "name": "PostgreSQL - Get Local Tasks to Sync",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.id }}",
              "operation": "exists"
            }
          ]
        }
      },
      "id": "if-has-local-tasks",
      "name": "IF - Has Local Tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "content": "={{ $json.title }}",
        "additionalFields": {
          "description": "={{ $json.description }}",
          "priority": "={{ $json.priority === 'high' ? 4 : ($json.priority === 'medium' ? 3 : 2) }}",
          "dueDate": "={{ $json.due_date }}"
        }
      },
      "id": "todoist-create",
      "name": "Todoist - Create Task",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [1250, 400],
      "credentials": {
        "todoistApi": {
          "id": "todoist-credentials",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "tasks",
        "updateKey": "id",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $item(0).json.id }}",
            "external_service": "todoist",
            "external_id": "={{ $json.id }}",
            "updated_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "postgres-update-external",
      "name": "PostgreSQL - Update External ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1450, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "sync_log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "todoist",
            "last_synced_at": "={{ $now }}",
            "status": "success"
          }
        },
        "options": {}
      },
      "id": "postgres-log",
      "name": "PostgreSQL - Log Sync",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger - Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Todoist - Get All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist - Get All Tasks": {
      "main": [
        [
          {
            "node": "IF - Has Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Tasks": {
      "main": [
        [
          {
            "node": "PostgreSQL - Upsert Task",
            "type": "main",
            "index": 0
          },
          {
            "node": "PostgreSQL - Get Local Tasks to Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Upsert Task": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Local Tasks to Sync": {
      "main": [
        [
          {
            "node": "IF - Has Local Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Local Tasks": {
      "main": [
        [
          {
            "node": "Todoist - Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist - Create Task": {
      "main": [
        [
          {
            "node": "PostgreSQL - Update External ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ai-stack"
  },
  "tags": []
}
