n8n-workflows/17-import-gemini-export.json
{
  "name": "Import Gemini Export",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "import-gemini",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-import",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "import-gemini"
    },
    {
      "parameters": {
        "operation": "readFile",
        "filePath": "={{ $json.body.file_path }}",
        "options": {}
      },
      "id": "read-file",
      "name": "Read File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Gemini export format (Takeout format)\nconst fileData = $json.data.toString('utf-8');\nconst data = JSON.parse(fileData);\n\n// Calculate file hash\nconst crypto = require('crypto');\nconst fileHash = crypto.createHash('sha256').update(fileData).digest('hex');\n\n// Gemini Takeout exports conversations differently\n// Adapt based on actual format\nconst conversations = [];\n\nif (Array.isArray(data)) {\n  // If data is array of conversations\n  conversations.push(...data);\n} else if (data.conversations) {\n  // If data has conversations property\n  conversations.push(...data.conversations);\n}\n\nreturn {\n  file_hash: fileHash,\n  file_path: $input.item(0).json.body.file_path,\n  conversations: conversations\n};"
      },
      "id": "code-parse",
      "name": "Code - Parse Export",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 FROM imported_chats\nWHERE user_id = '{{ $env.DEFAULT_USER_ID }}'\n  AND file_hash = '{{ $json.file_hash }}';",
        "additionalFields": {}
      },
      "id": "postgres-check-duplicate",
      "name": "PostgreSQL - Check Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json['?column?'] }}",
              "operation": "notExists"
            }
          ]
        }
      },
      "id": "if-not-duplicate",
      "name": "IF - Not Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Split conversations into individual items\nconst conversations = $input.item(2).json.conversations;\nconst results = [];\n\nfor (const conv of conversations) {\n  // Parse messages from Gemini format\n  const messages = [];\n  \n  if (conv.messages) {\n    for (const msg of conv.messages) {\n      if (msg.text && msg.text.length >= 10) {\n        messages.push({\n          role: msg.author || 'user',\n          content: msg.text,\n          timestamp: msg.timestamp\n        });\n      }\n    }\n  }\n  \n  results.push({\n    conversation_id: conv.id || conv.conversation_id,\n    title: conv.title || conv.name || 'Untitled Gemini Conversation',\n    created_at: conv.create_time || conv.created_at,\n    updated_at: conv.update_time || conv.updated_at,\n    messages: messages\n  });\n}\n\nreturn results;"
      },
      "id": "code-split-conversations",
      "name": "Code - Split Conversations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (user_id, title, source, external_id, started_at, ended_at, message_count)\nVALUES ('{{ $env.DEFAULT_USER_ID }}',\n        '{{ $json.title }}',\n        'gemini',\n        '{{ $json.conversation_id }}',\n        {{ $json.created_at ? \"'\" + $json.created_at + \"'\" : \"NOW()\" }},\n        {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : \"NOW()\" }},\n        {{ $json.messages.length }})\nRETURNING id;",
        "additionalFields": {}
      },
      "id": "postgres-create-conversation",
      "name": "PostgreSQL - Create Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1450, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Split messages from conversation\nconst conversationId = $json.id;\nconst messages = $input.item(0).json.messages;\nconst results = [];\n\nfor (const msg of messages) {\n  results.push({\n    conversation_id: conversationId,\n    content: msg.content,\n    role: msg.role,\n    timestamp: msg.timestamp\n  });\n}\n\nreturn results;"
      },
      "id": "code-split-messages",
      "name": "Code - Split Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memories (user_id, content, memory_type, source, conversation_id, event_timestamp)\nVALUES ('{{ $env.DEFAULT_USER_ID }}',\n        '{{ $json.content }}',\n        'explicit',\n        'gemini',\n        '{{ $json.conversation_id }}',\n        {{ $json.timestamp ? \"'\" + $json.timestamp + \"'\" : \"NOW()\" }})\nRETURNING id;",
        "additionalFields": {}
      },
      "id": "postgres-create-memory",
      "name": "PostgreSQL - Create Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1850, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO imported_chats (user_id, source, file_path, file_name, file_hash, conversations_count)\nVALUES ('{{ $env.DEFAULT_USER_ID }}',\n        'gemini',\n        '{{ $item(2).json.file_path }}',\n        '{{ $item(2).json.file_path.split(\"/\").pop() }}',\n        '{{ $item(2).json.file_hash }}',\n        {{ $item(2).json.conversations.length }});",
        "additionalFields": {}
      },
      "id": "postgres-log-import",
      "name": "PostgreSQL - Log Import",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2050, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"status\": \"imported\", \"conversations\": $item(2).json.conversations.length } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"status\": \"duplicate\", \"message\": \"File already imported\" } }}"
      },
      "id": "respond-duplicate",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Code - Parse Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Export": {
      "main": [
        [
          {
            "node": "PostgreSQL - Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Check Duplicate": {
      "main": [
        [
          {
            "node": "IF - Not Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Not Duplicate": {
      "main": [
        [
          {
            "node": "Code - Split Conversations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Split Conversations": {
      "main": [
        [
          {
            "node": "PostgreSQL - Create Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Create Conversation": {
      "main": [
        [
          {
            "node": "Code - Split Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Split Messages": {
      "main": [
        [
          {
            "node": "PostgreSQL - Create Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Create Memory": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Log Import": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ai-stack"
  },
  "tags": [],
  "notes": "Note: Gemini export format may vary. Adjust parsing logic based on actual Takeout format."
}
