archive/n8n-workflows/01-create-reminder-BACKUP.json
{
  "name": "Create Reminder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-reminder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-create-reminder",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "create-reminder"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "categories",
        "returnAll": false,
        "limit": 1,
        "where": {
          "conditions": [
            {
              "column": "user_id",
              "operator": "=",
              "value": "={{ $env.DEFAULT_USER_ID }}"
            },
            {
              "column": "name",
              "operator": "=",
              "value": "={{ $json.body.category || 'General' }}"
            }
          ]
        }
      },
      "id": "get-category-id",
      "name": "Get Category ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "reminders",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $env.DEFAULT_USER_ID }}",
            "title": "={{ $json.body.title }}",
            "description": "={{ $json.body.description || null }}",
            "remind_at": "={{ $json.body.remind_at }}",
            "status": "pending",
            "priority": "={{ $json.body.priority || 'medium' }}",
            "category_id": "={{ $('Get Category ID').item.json.id }}"
          }
        },
        "options": {
          "returnFields": "id,title,remind_at"
        }
      },
      "id": "postgres-insert",
      "name": "PostgreSQL - Insert Reminder",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"reminder\": $json } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Category ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Category ID": {
      "main": [
        [
          {
            "node": "PostgreSQL - Insert Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Insert Reminder": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ai-stack"
  },
  "tags": []
}
