archive/n8n-workflows/03-create-event.json
{
  "name": "Create Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-event",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-create-event",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "create-event"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "categories",
        "returnAll": false,
        "limit": 1,
        "where": {
          "conditions": [
            {
              "column": "user_id",
              "operator": "=",
              "value": "={{ $env.DEFAULT_USER_ID }}"
            },
            {
              "column": "name",
              "operator": "=",
              "value": "={{ $json.body.category || 'General' }}"
            }
          ]
        }
      },
      "id": "get-category-id",
      "name": "Get Category ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "events",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $env.DEFAULT_USER_ID }}",
            "title": "={{ $json.body.title }}",
            "description": "={{ $json.body.description || null }}",
            "start_time": "={{ $json.body.start_time }}",
            "end_time": "={{ $json.body.end_time }}",
            "location": "={{ $json.body.location || null }}",
            "status": "={{ $json.body.status || 'scheduled' }}",
            "category_id": "={{ $('Get Category ID').item.json.id }}",
            "external_calendar_id": "={{ $json.body.external_calendar_id || null }}"
          }
        },
        "options": {
          "returnFields": "id,title,start_time,end_time"
        }
      },
      "id": "postgres-insert",
      "name": "PostgreSQL - Insert Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-ai-stack",
          "name": "AI Stack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"event\": $json } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Category ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Category ID": {
      "main": [
        [
          {
            "node": "PostgreSQL - Insert Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Insert Event": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ai-stack"
  },
  "tags": []
}
